@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Bai+Jamjuree:regular,700&display=swap;);
/* Обнуление стилей*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

:before, :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a {
  color: #161513;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, avisited {
  text-decoration: none;
}

ahover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------------- Основные стили --------------------------- */
/* Переменные цветов */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F2F1EF;
  font-family: "Bai Jamjuree";
  font-weight: 400;
  color: #161513;
}

[class*=__container] {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

[class*=__decorImage] {
  width: 40px;
  height: 40px;
}
[class*=__decorImage] img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
[class*=__decorImage]:not(:last-child) {
  margin-bottom: 22px;
}

@media (max-width: 769px) {
  [class*=__decorImage] {
    width: 30px;
    height: 30px;
  }
  [class*=__decorImage]:not(:last-child) {
    margin-bottom: 10px;
  }
}
.title {
  font-weight: 400;
  font-size: 45px;
  line-height: 124%;
  text-align: center;
  letter-spacing: 1.44px;
}
.title:not(:last-child) {
  margin-bottom: 15px;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  text-align: center;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
.subtitle:not(:last-child) {
  margin-bottom: 60px;
}

@media (max-width: 1025px) {
  .title {
    font-size: 40px;
  }
  .title:not(:last-child) {
    margin-bottom: 12px;
  }

  .subtitle {
    font-size: 16px;
  }
  .subtitle:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 426px) {
  .title {
    font-size: 35px;
  }
  .title:not(:last-child) {
    margin-bottom: 9px;
  }

  .subtitle:not(:last-child) {
    margin-bottom: 35px;
  }
}
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 100vh;
}

/* Резервные классы секций */
/*--------------------------- Header ---------------------------*/
.header {
  padding: 27px 0;
}

.header__container {
  max-width: 1280px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo img {
  display: block;
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__logo img:not(:last-child) {
  margin-right: 13px;
}
.header__logo p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.05em;
}

.header-nav__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  text-align: center;
}

.header-nav__item {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.header-nav__link {
  border-bottom: 1px solid #161513;
  padding: 5px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.header-nav__link:hover {
  border: 1px solid #161513;
  font-weight: 700;
}

.header__btn {
  display: block;
  cursor: pointer;
  border: 1px solid #161513;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 9px 26px;
}
.header__btn:hover {
  background: #161513;
  color: #fff;
}

/* Медиа-запросы HEADER */
@media (max-width: 769px) {
  .header__body {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
@media (max-width: 650px) {
  .header {
    padding: 20px 0;
  }

  .header__body {
    -webkit-column-gap: none;
       -moz-column-gap: none;
            column-gap: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
  }
}
/*--------------------------- MAIN ---------------------------*/
.main {
  padding: 40px 0 150px 0;
  position: relative;
}

.main__container {
  max-width: 1280px;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 43px;
     -moz-column-gap: 43px;
          column-gap: 43px;
}

.main__title {
  font-weight: 400;
  font-size: 56px;
  line-height: 114%;
  letter-spacing: 0.56px;
}
.main__title img {
  vertical-align: inherit;
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__title:not(:last-child) {
  margin-bottom: 32px;
}

.main__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 52px;
     -moz-column-gap: 52px;
          column-gap: 52px;
}
.main__skill:not(:last-child) {
  margin-bottom: 40px;
}
.main__skill .beforeStar::after {
  content: "";
  position: absolute;
  top: 22%;
  right: -36px;
  width: 20px;
  height: 20px;
  background-image: url("../image/main/small-star.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.main__skill-item {
  font-size: 23px;
  line-height: 139%;
  letter-spacing: 0.48px;
  position: relative;
}

.main__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__links a {
  border: 1px solid #161513;
  padding: 13px 33px;
}
.main__links .main__links-first {
  color: #fff;
  background: #161513;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.main__links .main__links-first:hover + .main__links-second {
  color: #fff;
  background: #161513;
}
.main__links .main__links-first:hover {
  color: #161513;
  background: #fff;
  -webkit-box-shadow: 0 0 5px #161513;
          box-shadow: 0 0 5px #161513;
}
.main__links .main__links-second {
  color: #161513;
  background: #fff;
}
.main__links .main__links-second:hover {
  -webkit-box-shadow: 0 0 5px #161513;
          box-shadow: 0 0 5px #161513;
}

.main__photo {
  width: 44%;
}
.main__photo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Декоративная лента снизу */
.main__lineDecor {
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 110px;
     -moz-column-gap: 110px;
          column-gap: 110px;
  background-color: #161513;
  color: #fff;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.lineDecor__item {
  font-size: 18px;
  line-height: 178%;
  padding: 5px 10px;
  position: relative;
  min-width: 170px;
  text-align: right;
}
.lineDecor__item::after {
  content: "";
  position: absolute;
  top: 26%;
  right: -50px;
  width: 20px;
  height: 20px;
  background-image: url("../image/main/small-star.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1025px) {
  .main {
    padding: 30px 0 150px 0;
  }

  .main__title {
    font-size: 43px;
  }
  .main__title img {
    width: 30px;
    height: 30px;
  }
  .main__title:not(:last-child) {
    margin-bottom: 25px;
  }

  .main__skill:not(:last-child) {
    margin-bottom: 30px;
  }

  .main__skill-item {
    font-size: 20px;
  }
}
@media (max-width: 769px) {
  .main {
    padding: 30px 0 80px 0;
  }

  .main__title {
    font-size: 31px;
  }
  .main__title img {
    width: 23px;
    height: 23px;
  }
  .main__title:not(:last-child) {
    margin-bottom: 20px;
  }

  .main__skill:not(:last-child) {
    margin-bottom: 25px;
  }

  .main__skill-item {
    font-size: 17px;
  }
}
@media (max-width: 426px) {
  .main {
    padding: 30px 0 40px 0;
  }

  .main__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 25px;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }

  .main__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    text-align: center;
  }

  .main__title {
    font-size: 25px;
  }
  .main__title img {
    width: 18px;
    height: 18px;
  }
  .main__title:not(:last-child) {
    margin-bottom: 20px;
  }

  .main__skill {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .main__skill .beforeStar::after {
    content: "";
    position: absolute;
    top: 22%;
    right: -15px;
    width: 10px;
    height: 10px;
    background-image: url("../image/main/small-star.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .main__skill-item {
    font-size: 13px;
  }

  .main__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__lineDecor {
    display: none;
  }
}
/*--------------------------- ABOUT ---------------------------*/
.about {
  padding: 120px 0;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.about__info:not(:last-child) {
  margin-bottom: 120px;
}

.about-info__name {
  font-weight: 400;
}

.about__name-title {
  font-size: 23px;
  line-height: 139%;
  letter-spacing: 0.48px;
}
.about__name-title img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: baseline;
}
.about__name-title:not(:last-child) {
  margin-bottom: 20px;
}

.about__name-subtitle {
  font-size: 56px;
  line-height: 114%;
  letter-spacing: 0.56px;
}

.content-about__title {
  font-size: 31px;
  line-height: 129%;
  letter-spacing: 0.64px;
}
.content-about__title:not(:last-child) {
  margin-bottom: 36px;
}

.content-about__subtitle {
  font-size: 18px;
  line-height: 178%;
}
.content-about__subtitle:not(:last-child) {
  margin-bottom: 27.5px;
}

.content-about__privatInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.privatInfo__item-title {
  font-size: 12px;
  line-height: 133%;
  color: #E94D35;
}
.privatInfo__item-title:not(:last-child) {
  margin-bottom: 9px;
}

.privatInfo__item-text {
  font-size: 23px;
  line-height: 139%;
  letter-spacing: 0.48px;
}

.about__achivment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #161513;
}

.about__achivment-item {
  cursor: default;
  width: 33.333%;
  padding: 21px 0;
  text-align: center;
  background: #fff;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.about__achivment-item.active {
  color: #fff;
  background: #161513;
}

.achivment__number {
  font-size: 56px;
  line-height: 114%;
  margin-bottom: 11px;
}

.achivment__text {
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 1.28px;
  text-transform: uppercase;
}

@media (max-width: 1025px) {
  .about {
    padding: 90px 0;
  }

  .about-info:not(:last-child) {
    margin-bottom: 90px;
  }

  .about__name-title:not(:last-child) {
    margin-bottom: 15px;
  }

  .about__name-subtitle {
    font-size: 48px;
  }

  .content-about__title {
    font-size: 26px;
  }
  .content-about__title:not(:last-child) {
    margin-bottom: 25px;
  }

  .content-about__subtitle {
    font-size: 16px;
    line-height: 150%;
  }

  .achivment__number {
    font-size: 50px;
    margin-bottom: 8px;
  }

  .achivment__text {
    font-size: 15px;
  }
}
@media (max-width: 769px) {
  .about {
    padding: 90px 0 50px 0;
  }

  .about-info:not(:last-child) {
    margin-bottom: 60px;
  }

  .about__name-title span {
    font-size: 20px;
  }
  .about__name-title img {
    vertical-align: middle;
  }
  .about__name-title:not(:last-child) {
    margin-bottom: 15px;
  }

  .about__name-subtitle {
    font-size: 36px;
  }

  .content-about__title {
    font-size: 23px;
  }
  .content-about__title:not(:last-child) {
    margin-bottom: 20px;
  }

  .content-about__subtitle {
    font-size: 16px;
  }

  .privatInfo__item-text {
    font-size: 20px;
    line-height: 120%;
  }

  .achivment__number {
    font-size: 40px;
    margin-bottom: 5px;
  }

  .achivment__text {
    font-size: 13px;
  }
}
@media (max-width: 520px) {
  .about {
    padding: 90px 0 40px 0;
  }

  .about-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    text-align: center;
  }
  .about-info:not(:last-child) {
    margin-bottom: 60px;
  }

  .about__name-title:not(:last-child) {
    margin-bottom: 12px;
  }

  .privatInfo__item-text {
    font-size: 20px;
    line-height: 120%;
  }

  .achivment__text {
    font-size: 11px;
    line-height: 130%;
  }
}
@media (max-width: 321px) {
  .about {
    padding: 30px 0 30px 0;
  }

  .about-info {
    row-gap: 30px;
  }
  .about-info:not(:last-child) {
    margin-bottom: 40px;
  }

  .about__name-subtitle {
    font-size: 28px;
  }

  .content-about__title {
    font-size: 20px;
  }

  .content-about__subtitle {
    font-size: 15px;
  }

  .privatInfo__item-title:not(:last-child) {
    margin-bottom: 5px;
  }

  .privatInfo__item-text {
    font-size: 16px;
  }

  .achivment__number {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .achivment__text {
    font-size: 10px;
  }
}
/*--------------------------- AWARDS ---------------------------*/
.awards {
  padding: 10px 0 60px 0;
}

.awards__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.awards__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  row-gap: 24px;
}

.awards__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px;
  border: 3px solid #161513;
}

.award-item__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.award-item__number {
  width: 48px;
  height: 48px;
  background: #E94D35;
  font-size: 18px;
  line-height: 266%;
  text-align: center;
  color: #FFFFFF;
}
.award-item__number:not(:last-child) {
  margin-right: 24px;
}

.award-item__description {
  font-size: 18px;
  line-height: 178%;
}
.award-item__description .award-item__description-title {
  font-size: 23px;
  line-height: 139%;
  letter-spacing: 0.48px;
}

.award-item__date span {
  font-size: 16px;
  line-height: 200%;
}
.award-item__date span:not(:last-child) {
  margin-right: 22px;
}

@media (max-width: 769px) {
  .awards {
    padding: 10px 0 40px 0;
  }

  .awards__content-item {
    padding: 20px;
  }

  .award-item__number {
    width: 38px;
    height: 38px;
    font-size: 18px;
    line-height: 211%;
  }
  .award-item__number:not(:last-child) {
    margin-right: 19px;
  }

  .award-item__description {
    font-size: 16px;
  }
  .award-item__description .award-item__description-title {
    font-size: 20px;
  }

  .award-item__date span {
    font-size: 14px;
  }
  .award-item__date span:not(:last-child) {
    margin-right: 15px;
  }
}
@media (max-width: 570px) {
  .awards {
    padding: 10px 0 30px 0;
  }

  .awards__content-item {
    padding: 12px;
  }

  .award-item__number:not(:last-child) {
    margin-right: 10px;
  }

  .award-item__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
  }
  .award-item__date span {
    font-size: 11px;
  }
  .award-item__date span:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 321px) {
  .awards__content-item {
    padding: 10px;
  }

  .award-item__description {
    font-size: 12px;
  }
  .award-item__description .award-item__description-title {
    font-size: 15px;
  }

  .award-item__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
  }
  .award-item__date :nth-child(1) {
    display: none;
  }
}
/*--------------------------- PORTFOLIO ---------------------------*/
.portfolio {
  padding: 60px 0;
}

.portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 95px;
}

.portfolio__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 44px;
     -moz-column-gap: 44px;
          column-gap: 44px;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.item-portfolio__image {
  max-width: 460px;
}
.item-portfolio__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-portfolio__content {
  max-width: 556px;
}

.content-portfolio__tag {
  max-width: 180px;
  font-size: 18px;
  line-height: 178%;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  padding: 5px 12px;
  background: #E94D35;
}
.content-portfolio__tag:not(:last-child) {
  margin-bottom: 30px;
}

.content-portfolio__title {
  font-size: 45px;
  line-height: 124%;
  letter-spacing: 1.44px;
}
.content-portfolio__title:not(:last-child) {
  margin-bottom: 49px;
}

.content-portfolio__btn {
  cursor: pointer;
  font-size: 20px;
  line-height: 160%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.content-portfolio__btn:hover {
  text-decoration: underline;
}

.content-portfolio__readmore.show {
  display: block;
}

.item-portfolio__content.show {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-portfolio__content.show .content-portfolio__tag {
  font-size: 15px;
  line-height: 120%;
  padding: 5px;
}
.item-portfolio__content.show .content-portfolio__tag:not(:last-child) {
  margin-bottom: 10px;
}
.item-portfolio__content.show .content-portfolio__title {
  font-size: 25px;
}
.item-portfolio__content.show .content-portfolio__title:not(:last-child) {
  margin-bottom: 15px;
}
.item-portfolio__content.show .content-portfolio__btn {
  text-align: center;
  font-size: 13px;
}
.item-portfolio__content.show .content-portfolio__readmore {
  display: block;
  overflow-y: scroll;
}
.item-portfolio__content.show .content-portfolio__readmore:not(:last-child) {
  margin-bottom: 15px;
}

.content-portfolio__readmore {
  display: none;
}

@media (max-width: 1025px) {
  .portfolio {
    padding: 40px 0;
  }

  .portfolio__content {
    row-gap: 60px;
  }

  .content-portfolio__tag {
    max-width: 150px;
    font-size: 16px;
  }
  .content-portfolio__tag:not(:last-child) {
    margin-bottom: 20px;
  }

  .content-portfolio__title {
    font-size: 35px;
  }
  .content-portfolio__title:not(:last-child) {
    margin-bottom: 40px;
  }

  .content-portfolio__btn {
    font-size: 18px;
  }
}
@media (max-width: 769px) {
  .portfolio {
    padding: 30px 0;
  }

  .portfolio__content {
    row-gap: 50px;
  }

  .content-portfolio__tag {
    max-width: 120px;
    font-size: 14px;
  }
  .content-portfolio__tag:not(:last-child) {
    margin-bottom: 15px;
  }

  .content-portfolio__title {
    font-size: 28px;
  }
  .content-portfolio__title:not(:last-child) {
    margin-bottom: 40px;
  }

  .content-portfolio__btn {
    font-size: 16px;
  }
}
@media (max-width: 426px) {
  .portfolio__content {
    row-gap: 25px;
  }

  .portfolio__content-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 10px;
  }

  .item-portfolio__image {
    max-width: 300px;
  }

  .item-portfolio__content {
    max-width: none;
    text-align: center;
  }

  .content-portfolio__tag {
    max-width: 120px;
    font-size: 14px;
    margin: 0 auto;
  }
  .content-portfolio__tag:not(:last-child) {
    margin-bottom: 15px;
  }

  .content-portfolio__title {
    font-size: 23px;
  }
  .content-portfolio__title:not(:last-child) {
    margin-bottom: 30px;
  }

  .content-portfolio__btn {
    font-size: 14px;
  }
}
@media (max-width: 321px) {
  .content-portfolio__tag {
    max-width: 150px;
    font-size: 13px;
    margin: 0 auto;
  }

  .content-portfolio__title {
    font-size: 20px;
  }
}
/*--------------------------- SERVICES ---------------------------*/
.services {
  padding: 60px 0;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto 40px auto;
  grid-template-rows: repeat(2, auto);
  grid-auto-rows: auto;
  gap: 40px;
}

.services__content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.services__content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.services__content > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.services__content > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.services__content-item {
  padding: 34px;
  border: 2px solid #161513;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.services__content-item:hover {
  border: 2px solid #E94D35;
  background: #161513;
  color: #fff;
}

.item-services__title {
  font-size: 31px;
  line-height: 129%;
  letter-spacing: 0.64px;
}
.item-services__title:not(:last-child) {
  margin-bottom: 28px;
}

.item-services__text {
  font-size: 18px;
  line-height: 178%;
}

@media (max-width: 1025px) {
  .services {
    padding: 40px 0;
  }

  .services__content {
    gap: 30px;
  }

  .services__content-item {
    padding: 28px;
  }

  .item-services__title {
    font-size: 27px;
  }
  .item-services__title:not(:last-child) {
    margin-bottom: 20px;
  }

  .item-services__text {
    font-size: 16px;
  }
}
@media (max-width: 769px) {
  .services {
    padding: 30px 0;
  }

  .services__content {
    gap: 25px;
  }

  .services__content-item {
    padding: 20px;
  }
}
@media (max-width: 426px) {
  .services__content {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    row-gap: 15px;
  }
  .services__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .services__content-item {
    padding: 15px;
  }

  .item-services__title {
    font-size: 24px;
  }
  .item-services__title:not(:last-child) {
    margin-bottom: 10px;
  }

  .item-services__text {
    font-size: 14px;
  }
}
/*--------------------------- CUSTOMERS ---------------------------*/
.customers {
  padding: 60px 0;
}

.customers__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__title:not(:last-child) {
  margin-bottom: 62px;
}

.customers__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 241px) 32px minmax(100px, 241px) 32px minmax(100px, 241px) 32px minmax(100px, 241px);
  grid-template-columns: repeat(4, minmax(100px, 241px));
  -ms-grid-rows: 100px 32px 100px;
  grid-template-rows: repeat(2, 100px);
  grid-row: auto;
  gap: 32px;
}

.customers__content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.customers__content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.customers__content > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.customers__content > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.customers__content > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.customers__content > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.customers__content > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.customers__content > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.customers__content-item {
  border: 1px solid #161513;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.customers__content-item img {
  display: block;
  margin: 0 auto;
  width: calc(100% - 120px);
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.customers__content-item:hover {
  -webkit-box-shadow: 0 0 5px #161513;
          box-shadow: 0 0 5px #161513;
}

@media (max-width: 1025px) {
  .customers {
    padding: 40px 0;
  }

  .customers__title:not(:last-child) {
    margin-bottom: 40px;
  }

  .customers__content-item img {
    width: calc(100% - 80px);
  }
}
@media (max-width: 769px) {
  .customers {
    padding: 30px 0;
  }

  .customers__title:not(:last-child) {
    margin-bottom: 30px;
  }

  .customers__content {
    gap: 20px;
  }

  .customers__content-item img {
    width: calc(100% - 50px);
  }
}
@media (max-width: 600px) {
  .customers__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100px, 241px))[2];
    grid-template-columns: repeat(2, minmax(100px, 241px));
    -ms-grid-rows: 80px;
    grid-template-rows: 80px;
    grid-auto-rows: 80px;
  }
  .customers__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .customers__content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .customers__content-item img {
    width: calc(100% - 20px);
  }
}
/*--------------------------- ARTICLES ---------------------------*/
.articles {
  padding: 60px 0;
}

.articles__container {
  position: relative;
}

.articles__backgroundDecor {
  position: absolute;
  bottom: 10%;
  right: -430px;
  width: 240px;
  height: 240px;
}

.articles__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articles__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 100px;
  padding: 34px 0;
}

.articles__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  padding: 0 34px;
  border: 2px solid #161513;
}

.item-articles__theme {
  max-width: 430px;
}

.item-articles__theme-date {
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #E94D35;
}

.item-articles__theme-title {
  font-size: 23px;
  line-height: 139%;
  letter-spacing: 0.48px;
}

.item-articles__text {
  max-width: 457px;
  font-size: 16px;
  line-height: 150%;
}

.item-articles__btn {
  width: 100%;
  padding: 12px 0;
  background: #161513;
  cursor: pointer;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 1025px) {
  .articles {
    padding: 40px 0;
  }

  .articles__content {
    row-gap: 70px;
    padding: 0;
  }
  .articles__content:not(:last-child) {
    margin-bottom: 40px;
  }

  .articles__content-item {
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
    padding: 5px 25px;
  }

  .item-articles__theme-date {
    font-size: 15px;
  }

  .item-articles__theme-title {
    font-size: 20px;
  }

  .item-articles__text {
    font-size: 15px;
  }

  .item-articles__btn {
    font-size: 18px;
    text-transform: uppercase;
  }
}
@media (max-width: 769px) {
  .articles {
    padding: 30px 0;
  }

  .articles__content {
    row-gap: 50px;
  }

  .item-articles__text {
    max-width: 290px;
    font-size: 15px;
  }
}
@media (max-width: 625px) {
  .articles__content-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 20px;
  }

  .item-articles__text {
    max-width: none;
  }

  .item-articles__theme {
    max-width: none;
  }
}
@media (max-width: 426px) {
  .articles__content {
    row-gap: 35px;
  }

  .articles__content-item {
    padding: 5px 10px;
  }

  .item-articles__theme-date {
    font-size: 11px;
  }

  .item-articles__theme-title {
    font-size: 17px;
  }

  .item-articles__text {
    font-size: 14px;
  }

  .item-articles__btn {
    font-size: 15px;
  }
}
/*--------------------------- NEWSLETTER ---------------------------*/
.newsletter {
  padding: 60px 0;
  background: #E6E3DE;
}

.newsletter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newsletter__text {
  font-size: 23px;
  line-height: 139%;
  letter-spacing: 0.48px;
}

.newsletter__form {
  width: 100%;
  max-width: 510px;
}

.newsletter__form-input {
  font-size: 23px;
  letter-spacing: 0.48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 354px;
  border: 2px solid #161513;
  background: none;
  padding: 12px 22px;
}
.newsletter__form-input:not(:last-child) {
  margin-right: 24px;
}
.newsletter__form-input::-webkit-input-placeholder {
  color: #161513;
  font-size: 23px;
  letter-spacing: 0.48px;
}
.newsletter__form-input::-moz-placeholder {
  color: #161513;
  font-size: 23px;
  letter-spacing: 0.48px;
}
.newsletter__form-input:-ms-input-placeholder {
  color: #161513;
  font-size: 23px;
  letter-spacing: 0.48px;
}
.newsletter__form-input::-ms-input-placeholder {
  color: #161513;
  font-size: 23px;
  letter-spacing: 0.48px;
}
.newsletter__form-input::placeholder {
  color: #161513;
  font-size: 23px;
  letter-spacing: 0.48px;
}

.newsletter__form-btn {
  max-width: 140px;
  font-size: 23px;
  cursor: pointer;
  color: #FFFFFF;
  background: #161513;
  padding: 12px 14px;
}
.newsletter__form-btn:hover {
  -webkit-box-shadow: 0 0 5px #161513;
          box-shadow: 0 0 5px #161513;
}

@media (max-width: 1025px) {
  .newsletter {
    padding: 40px 0;
  }

  .newsletter__text {
    font-size: 20px;
  }

  .newsletter__form-input {
    font-size: 20px;
    max-width: 320px;
    padding: 12px 15px;
  }
  .newsletter__form-input:not(:last-child) {
    margin-right: 20px;
  }
  .newsletter__form-input::-webkit-input-placeholder {
    font-size: 20px;
  }
  .newsletter__form-input::-moz-placeholder {
    font-size: 20px;
  }
  .newsletter__form-input:-ms-input-placeholder {
    font-size: 20px;
  }
  .newsletter__form-input::-ms-input-placeholder {
    font-size: 20px;
  }
  .newsletter__form-input::placeholder {
    font-size: 20px;
  }

  .newsletter__form-btn {
    font-size: 20px;
  }
}
@media (max-width: 769px) {
  .newsletter {
    padding: 30px 0;
  }

  .newsletter__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }

  .newsletter__text {
    font-size: 20px;
  }

  .newsletter__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 321px) {
  .newsletter__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .newsletter__form-input:not(:last-child) {
    margin-right: 0;
  }

  .newsletter__form-input {
    font-size: 18px;
    max-width: none;
    padding: 8px 12px;
  }
  .newsletter__form-input::-webkit-input-placeholder {
    font-size: 20px;
  }
  .newsletter__form-input::-moz-placeholder {
    font-size: 20px;
  }
  .newsletter__form-input:-ms-input-placeholder {
    font-size: 20px;
  }
  .newsletter__form-input::-ms-input-placeholder {
    font-size: 20px;
  }
  .newsletter__form-input::placeholder {
    font-size: 20px;
  }

  .newsletter__form-btn {
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}
/*--------------------------- FOOTER ---------------------------*/
.footer {
  padding: 60px 0 20px 0;
  background: #161513;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #F2F1EF;
}

.footer__leftRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  row-gap: 55px;
}

.footer__leftRow-logo img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 15px;
}
.footer__leftRow-logo span {
  font-size: 16px;
  line-height: 200%;
  text-transform: uppercase;
}

.footer__leftRow-privacy {
  font-size: 14px;
  line-height: 171%;
}

.footer__rightRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  row-gap: 63px;
}

.footer-nav__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
}

.footer-nav__link {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}
.footer-nav__link:hover {
  text-decoration: underline;
}

.footer__rightRow-contact {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.footer-contact__image {
  width: 40px;
  height: 40px;
}

@media (max-width: 1025px) {
  .footer {
    padding: 40px 0 20px 0;
  }
}
@media (max-width: 769px) {
  .footer {
    padding: 20px 0;
  }

  .footer__leftRow {
    row-gap: 30px;
  }

  .footer__leftRow-privacy {
    font-size: 12px;
  }

  .footer__rightRow {
    row-gap: 36px;
  }

  .footer-nav__list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }

  .footer-nav__link {
    font-size: 14px;
  }
}
@media (max-width: 570px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__leftRow {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 15px;
  }

  .footer__leftRow-privacy {
    font-size: 10px;
  }

  .footer__rightRow {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 15px;
  }
}